doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(type='text/css' href='stylesheets/buttons.css' rel='stylesheet')
    title #{title}
  body 
    .back
      a.btn(href='/options') Back
    h1
      span.highlight Delete
      |  a file
    form(method='POST' action='/delete')
      label(for="") Id 
      input(type="text" name = 'delete')
      button Search

    h1 #{stmnt}

    .table_container 
      table#table.table
        thead.table_head 
          tr.table_head_row 
            th 
            th#id ID
            th#fn File Name 
            th#ft File Type
            th#an Animal
            th#da Date
            th#ad Address
            th#lo Latitude 
            th#la Longitude
            th#up Uploaded by
            th#tl TLA
            th#co Comments
            th#li Link
        //- Comments----- 
        tbody#table_body
          if data
            each event in data
              tr
                td 
                   a.delBtn(href = `/delete/${event._id}/${event.fileDirectory.substring(event.fileDirectory.lastIndexOf('/') + 1)}/${event.mediaType}`) Delete
                td.id #{event._id}
                td #{event.fileName}
                td #{event.mediaType}
                td #{event.animalName}
                td #{event.date}
                td #{event.location.address}
                td #{event.location.latitude}
                td #{event.location.longitude}
                td #{event.recorder.first} #{event.recorder.last}
                td #{event.tla}
                td #{event.comments}
                td
                  //- img(src= `${event.fileDirectory}` alt='Testimony')
                  //- Links to the location of the file
                  a(href=`media-display/${event.fileDirectory.substring(event.fileDirectory.lastIndexOf('/') + 1)}`)
                    img(src=`images/icon_${event.mediaType}.png`, alt="icon")
    
